<!-- <app-header [showMenu]="true" title="Agregar Asistencia"></app-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Sección</ion-label>
        <ion-input formControlName="seccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input type="date" formControlName="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estudiante</ion-label>
        <ion-input formControlName="estudiante"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select formControlName="estado">
          <ion-select-option value="presente">Presente</ion-select-option>
          <ion-select-option value="ausente">Ausente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="form.invalid">Agregar Asistencia</ion-button>
  </form>
</ion-content> -->
