.d-flex-center {
 height: 90vh;
}
.glass{
    /* From https://css.glass */
background: rgba(116, 3, 164, 0.56);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.1px);
-webkit-backdrop-filter: blur(11.1px);
border-radius: 0%;
}