<app-header backButton="/auth" title="Recuperar Contraseña"></app-header>

<ion-content>
  <div class="d-flex-center">

  <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form"> -->
 <form  class="auth-form"> 
    <p class="ion-text-center">Ingresaa tu Correo Electrónico para enviarte un mail de recuperación</p>
    <app-logo></app-logo>

    <p class="ion-text-center">Ingresaa tu Correo Electrónico para enviarte un mail de recuperación</p>
    <app-login-input autocomplete="email" type="email" label="Correo" icon="mail-outline"></app-login-input>
    
    <div class="validator"></div>

    <p routerLink="forgot-password" class="ion-text-end"> ¿Olvidaste la contraseña? </p>
    
    <ion-button class="submit" expand="block" mode="ios" fill="outline" >
      Recuperar
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>

  </form>

  </div>
</ion-content>