<app-header [showMenu]="true" title="Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img *ngIf="user()?.img"[src]="user()?.img" alt="">
      <ion-icon *ngIf="!user()?.img" class="empty-icon" name= "person-circle-outline"> </ion-icon>
  </ion-avatar>
  <ion-button class="photo-btn"(click)= "takeImage()" mode="ios" size="small" shope="round">
    
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h4>{{user().name|uppercase}}</h4>
  <h4>{{user().email|uppercase}}</h4>
  <h4>Duoc UC</h4>
  <div class="cargo"></div>
</ion-content>